* {
  margin: 0px;
}
:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #14213d;
  --text-color: #000000;
  --button-bg-color: #14213d;
  --button-text-color: #e5e5e5;
  --accent-color: #3498db;
  --accent-hover-color: #2ecc71;
  --placeholder-color: #666262;
}

.cabecalho {
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: 0vw 1vw;
  grid-area: cabecalho;
  background-color: var(--main-bg-color);
  justify-content: space-around; /* Alinhar ícones à direita */
  align-items: center; /* Alinhar verticalmente no centro */
  display: flex;
  border-bottom: 0.1vh solid var(--text-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}
.logo {
  width: 2.5vw; /* Reduza o tamanho da largura */
  height: 4vh;
  border-radius: 100%;
}
/* Style for the link buttons */
.b {
  width: 5vw; /* Reduza o tamanho da largura */
  height: 3vh;
  font-size: 0.6vw;
  background-color: var(--button-bg-color); /* Button background color */
  color: var(--button-text-color); /* Button text color */
  border-radius: 0.15vw; /* Rounded corners */
  border: none; /* Remove border */
  cursor: pointer;
  text-decoration: none; /* Show hand cursor on hover */
}

.b:hover {
  background-color: var(--accent-color); /* Darken the button a little */
}

/* Perfil */

.carrinho {
  width: 2.5vw;
}
.perfil {
  margin-left: 10vw;
  width: 2.5vw;
  /* Manter seu estilo existente */
}
/* Estilo para a barra de pesquisa */
/* Restante do seu CSS */

/* Estilo para a barra de pesquisa */
.barra {
  display: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  z-index: 1;
}

/* Estilo para a imagem */
.imagem {
  cursor: pointer;
}

/* Estilo para a animação da imagem */
.animacao-rodar {
  animation: rodar 1s linear;
}

/* Adicione o estilo para o botão de filtro */
.dropdownbtn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* Estilo para esconder o conteúdo do dropdown por padrão */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-bg-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Adicione estilo aos itens do dropdown */
.dropdown-content label {
  display: block;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

/* Adicione estilo ao botão de filtrar no dropdown */
.dropdown-content input[type="submit"] {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Adicione um estilo para os itens do dropdown ao passar o mouse */
.dropdown-content label:hover,
.dropdown-content input[type="submit"]:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

/* Mostrar o dropdown quando o mouse está sobre o botão de filtro */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Adicione a regra de animação para o dropdown */
@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1080px) {
  .cabecalho {
    height: 70px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .b {
    font-size: 8px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
  }
  .perfil {
    width: 50px;
    height: 30px;
    margin-left: 20px;
  }
  .carrinho {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
